body {
  margin: 0;
}

/* Flag Display Style */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 600px;
  height: 350px;
  border: 1px solid black;
  margin-top: 30px;
  background-size: cover;
}

/* FlagChoices & FlagResult styles */

.child-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  height: 100px;
  font-size: 20px;
  width: 100%;
}

.child-button {
  border: none;
  background: orange;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  margin: 0 30px;
  cursor: pointer;
}

/* style for radios */
.radio {
  margin-left: 1rem;
}

.radio input[type='radio'] {
  display: none;
}

.radio input[type='radio'],
label {
  cursor: pointer;
}

.radio input[type='radio'] + label::before {
  content: '';
  display: inline-block;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  width: 0.75em;
  height: 0.75em;
  margin-right: 0.5rem;
}

.radio input[type='radio']:checked + label::before {
  background-color: orange;
  border: 1px solid black;
}
